
.input-field {
    background-color: yellow;
    background-color: #04AA6D;
    position: relative;
    width: 100px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.blog-area {
    display: inline block;
    flex-direction: row;
    width: 100%;
    position: relative;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;

}
.submit-btn {
    font-size: 24px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px solid  cyan ;


}
